body {
    background-image: url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg');
}

.navbar {
    background-image: url('https://i.pinimg.com/originals/10/f9/44/10f944389ace361ae00a3fc6b7b16e9e.jpg');
}

.btn {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: gray;
}
